body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: #ccc;
    padding: 15px;
    font-size: 25px;
}
.item{
    position: relative;
    padding: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    background-color: #000;
}

.item_img{
    max-height: 100%;
}

